#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# project
build/
dist/

# node
**/node_modules/*
package-lock.json

# secrets
client_secret.json
